<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>404 Error</title>

<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<!--引用css  -->
	<link type="text/css" rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
	
	<link rel="stylesheet" href="../css/commod.css" type="text/css">
	<link href="../css/css/component.css" rel="stylesheet">
	<!-- 引用js -->
	<script type="text/javascript" src="../bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/docs.min.js"></script>
	
	<!--去掉悬浮窗 -->
	<style type="text/css">#cl-dashboard{display: none}</style>
	
	<link title="" href="../formwork/css/style.css" rel="stylesheet" type="text/css"/>
	
	

</head>
<!--245580-->
<body  style="background:url(../images/login_bg.jpg) no-repeat;background-size: 100% 100%;">
	
	<div class="container"  style="width: 80%">
	<div class="col-md-offset-4 col-md-4 login_boder" style="border: 0px;">
		<h1>您访问的页面不存在！</h1>
	</div>
	</div>
</body>
</html>