<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.system.manager.course.mapper.ExamCourseChapterMapper">

  <resultMap id="BaseResultMap" type="com.exam.system.manager.course.entity.ExamCourseChapterEntity">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="chapter_code" jdbcType="BIGINT" property="chapterCode" />
    <result column="chapter_name" jdbcType="VARCHAR" property="chapterName" />
    <result column="chapter_desc" jdbcType="VARCHAR" property="chapterDesc" />
    <result column="chapter_sp" jdbcType="DOUBLE" property="chapterSp" />
    <result column="course_id" jdbcType="BIGINT" property="courseId" />
    <result column="creat_time" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="Column_11" jdbcType="CHAR" property="column11" />
    <result column="Column_12" jdbcType="CHAR" property="column12" />
    <result column="Column_13" jdbcType="CHAR" property="column13" />
  </resultMap>
  <sql id="Base_Column_List">
    id, chapter_code, chapter_name, chapter_desc, chapter_sp, course_id, creat_time, 
    creator, update_time, modifier, Column_11, Column_12, Column_13
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_exam_course_chapter
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_exam_course_chapter
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.exam.system.manager.course.entity.ExamCourseChapterEntity">
    insert into t_exam_course_chapter (id, chapter_code, chapter_name, 
      chapter_desc, chapter_sp, course_id, 
      creat_time, creator, update_time, 
      modifier, Column_11, Column_12, 
      Column_13)
    values (#{id,jdbcType=BIGINT}, #{chapterCode,jdbcType=BIGINT}, #{chapterName,jdbcType=VARCHAR}, 
      #{chapterDesc,jdbcType=VARCHAR}, #{chapterSp,jdbcType=DOUBLE}, #{courseId,jdbcType=BIGINT}, 
      #{creatTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP},
      #{modifier,jdbcType=BIGINT}, #{column11,jdbcType=CHAR}, #{column12,jdbcType=CHAR}, 
      #{column13,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.exam.system.manager.course.entity.ExamCourseChapterEntity">
    insert into t_exam_course_chapter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="chapterCode != null">
        chapter_code,
      </if>
      <if test="chapterName != null">
        chapter_name,
      </if>
      <if test="chapterDesc != null">
        chapter_desc,
      </if>
      <if test="chapterSp != null">
        chapter_sp,
      </if>
      <if test="courseId != null">
        course_id,
      </if>
      <if test="creatTime != null">
        creat_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="column11 != null">
        Column_11,
      </if>
      <if test="column12 != null">
        Column_12,
      </if>
      <if test="column13 != null">
        Column_13,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="chapterCode != null">
        #{chapterCode,jdbcType=BIGINT},
      </if>
      <if test="chapterName != null">
        #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="chapterDesc != null">
        #{chapterDesc,jdbcType=VARCHAR},
      </if>
      <if test="chapterSp != null">
        #{chapterSp,jdbcType=DOUBLE},
      </if>
      <if test="courseId != null">
        #{courseId,jdbcType=BIGINT},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="column11 != null">
        #{column11,jdbcType=CHAR},
      </if>
      <if test="column12 != null">
        #{column12,jdbcType=CHAR},
      </if>
      <if test="column13 != null">
        #{column13,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.exam.system.manager.course.entity.ExamCourseChapterEntity">
    update t_exam_course_chapter
    <set>
      <if test="chapterCode != null">
        chapter_code = #{chapterCode,jdbcType=BIGINT},
      </if>
      <if test="chapterName != null">
        chapter_name = #{chapterName,jdbcType=VARCHAR},
      </if>
      <if test="chapterDesc != null">
        chapter_desc = #{chapterDesc,jdbcType=VARCHAR},
      </if>
      <if test="chapterSp != null">
        chapter_sp = #{chapterSp,jdbcType=DOUBLE},
      </if>
      <if test="courseId != null">
        course_id = #{courseId,jdbcType=BIGINT},
      </if>
      <if test="creatTime != null">
        creat_time = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      <if test="column11 != null">
        Column_11 = #{column11,jdbcType=CHAR},
      </if>
      <if test="column12 != null">
        Column_12 = #{column12,jdbcType=CHAR},
      </if>
      <if test="column13 != null">
        Column_13 = #{column13,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.exam.system.manager.course.entity.ExamCourseChapterEntity">
    update t_exam_course_chapter
    set chapter_code = #{chapterCode,jdbcType=BIGINT},
      chapter_name = #{chapterName,jdbcType=VARCHAR},
      chapter_desc = #{chapterDesc,jdbcType=VARCHAR},
      chapter_sp = #{chapterSp,jdbcType=DOUBLE},
      course_id = #{courseId,jdbcType=BIGINT},
      creat_time = #{creatTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      modifier = #{modifier,jdbcType=BIGINT},
      Column_11 = #{column11,jdbcType=CHAR},
      Column_12 = #{column12,jdbcType=CHAR},
      Column_13 = #{column13,jdbcType=CHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>