<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.system.manager.course.mapper.ExamTypeMapper">

  <!-- 考试类型结果集映射 -->
  <resultMap id="BaseResultMap" type="com.exam.system.manager.course.entity.ExamTypeEntity">
    <id column="exam_id" jdbcType="BIGINT" property="examId" />
    <result column="exam_name" jdbcType="VARCHAR" property="examName" />
    <result column="exam_effect" jdbcType="VARCHAR" property="examEffect" />
    <result column="create_time" jdbcType="DATETIME" property="createTime" />
    <result column="creator" jdbcType="BIGINT" property="creator" />
    <result column="update_time" jdbcType="DATETIME" property="updateTime" />
    <result column="modifier" jdbcType="BIGINT" property="modifier" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>

  <!-- 基础列 -->
  <sql id="Base_Column_List">
    exam_id, exam_name, exam_effect, create_time, creator, update_time, modifier, description
  </sql>

  <!-- 查询所有的记录 -->
  <select id="queryAllTypes" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_exam_type
    order by exam_id
  </select>

  <!-- 根据考试类型编号查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_exam_type
    where exam_id = #{examId,jdbcType=BIGINT}
  </select>

  <!-- 根据考试类型编号删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_exam_type
    where exam_id = #{examId,jdbcType=BIGINT}
  </delete>

  <!-- 保存全部类型信息 -->
  <insert id="insert" parameterType="com.exam.system.manager.course.entity.ExamTypeEntity">
    insert into t_exam_type (exam_id, exam_name, exam_effect,
      create_time, creator, update_time,
      modifier, description)
    values (#{examId,jdbcType=BIGINT}, #{examName,jdbcType=VARCHAR}, #{examEffect,jdbcType=VARCHAR},
      #{createTime,jdbcType=DATETIME}, #{creator,jdbcType=BIGINT}, #{updateTime,jdbcType=DATETIME},
      #{modifier,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR})
  </insert>

  <!-- 选择保存考试类型信息 -->
  <insert id="insertSelective" parameterType="com.exam.system.manager.course.entity.ExamTypeEntity">
    insert into t_exam_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="examId != null">
        exam_id,
      </if>
      <if test="examName != null">
        exam_name,
      </if>
      <if test="examEffect != null">
        exam_effect,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="modifier != null">
        modifier,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="examId != null">
        #{examId,jdbcType=BIGINT},
      </if>
      <if test="examName != null">
        #{examName,jdbcType=VARCHAR},
      </if>
      <if test="examEffect != null">
        #{examEffect,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATETIME},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATETIME},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!-- 选择更新开始类型 -->
  <update id="updateByPrimaryKeySelective" parameterType="com.exam.system.manager.course.entity.ExamTypeEntity">
    update t_exam_type
    <set>
      <if test="examName != null">
        exam_name = #{examName,jdbcType=VARCHAR},
      </if>
      <if test="examEffect != null">
        exam_effect = #{examEffect,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATETIME},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=DATETIME},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where exam_id = #{examId,jdbcType=BIGINT}
  </update>

  <!-- 根据考试类型编号更新 -->
  <update id="updateByPrimaryKey" parameterType="com.exam.system.manager.course.entity.ExamTypeEntity">
    update t_exam_type
    set exam_name = #{examName,jdbcType=VARCHAR},
      exam_effect = #{examEffect,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATETIME},
      creator = #{creator,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=DATETIME},
      modifier = #{modifier,jdbcType=BIGINT},
      description = #{description,jdbcType=VARCHAR}
    where exam_id = #{examId,jdbcType=BIGINT}
  </update>
</mapper>