<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新增管理员</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<!-- 引用css -->
	<link type="text/css" rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="../bootstrap/css/bootstrap-fileinput.css" />
	<link type="text/css" rel="stylesheet" href="../bootstrap/css/bootstrap-datetimepicker.min.css"/>
	<link rel="stylesheet" href="../css/commod.css" type="text/css">
	<link href="../css/css/component.css" rel="stylesheet">
	<!-- 引用js -->
	<script type="text/javascript" src="../bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/docs.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap-fileinput.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap-switch.js"></script>
	
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="../bootstrap/jquery.qrcode.min.js"></script>
	
	<!--去掉悬浮窗 -->
	<style type="text/css">#cl-dashboard{display: none}</style>
	
	<link title="" href="../formwork/css/style.css" rel="stylesheet" type="text/css"/>
	<link title="blue" href="../formwork/css/dermadefault.css" rel="stylesheet" type="text/css"/>
	<link title="green" href="../formwork/css/dermagreen.css" rel="stylesheet" type="text/css" disabled="disabled"/>
	<link title="orange" href="../formwork/css/dermaorange.css" rel="stylesheet" type="text/css" disabled="disabled"/>
	<link href="../formwork/css/templatecss.css" rel="stylesheet" title="" type="text/css" />


</head>
<body>
	<div class="container-fluid">
	   <div class="info-center" id="hader_h2">
			<h2>新增管理员</h2>    
	   </div>  
	   
	   <div class="col-md-offset-2 col-md-8 underline_div">
	   	   <span class="lead"><strong class="red">*</strong>基本信息</span>
	   </div>
	  
	   <div class="col-md-offset-2 col-md-6">
	   <form action="" class="form-horizontal">
			    <div class="form-group">
					<label for="" class="col-sm-3 control-label">管理员账号：</label>
					<div class="col-sm-9">
						<input type="text" name="" id="" class="form-control" placeholder="请输入管理员账号（数字或字母）" />
					</div>
				</div>
				
				<div class="form-group">
					<label for="" class="col-sm-3 control-label">密码：</label>
					<div class="col-sm-9">
						<input type="password" name="" id="" class="form-control" placeholder="请输入密码，默认为123456" />
					</div>
				</div>
				
				<div class="form-group ">
					<label for="" class="control-label col-sm-3">角色：</label>
					<div class="col-sm-9">
						<select name="" id="" class="form-control">
							<option value="">--请选择--</option>
   							<option value="">系统管理员</option>
   						</select>
						</select>
					</div>
				</div>
				
				<div class="form-group ">
					<label for="" class="control-label col-sm-3">备注：</label>
					<div class="col-sm-9">
						<textarea rows="4" cols="10" class="form-control" style="resize: none;" name="" id="" placeholder="请输入备注信息"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-3"></label>
					<div class="col-sm-9">
					<input type="button" onclick="javascript:history.back(-1);" class="btn btn-default" value="返回"/><input type="submit" class="btn btn-primary margin-width" value="保存" />
					</div>
				</div>
		</form>
		</div>
		
	</div>
</body>
</html>