<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>统计页面</title>
<script type="text/javascript" src="js/bsdatetime.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<!-- 引用css -->
	<link type="text/css" rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="../bootstrap/css/bootstrap-fileinput.css" />
	<link type="text/css" rel="stylesheet" href="../bootstrap/css/bootstrap-datetimepicker.min.css"/>
	<link rel="stylesheet" href="../css/commod.css" type="text/css">
	<link href="../css/css/component.css" rel="stylesheet">
	<!-- 引用js -->
	<script type="text/javascript" src="../bootstrap/js/jquery.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/docs.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap-fileinput.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap-switch.js"></script>
	
	<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/moment-with-locales.min.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="../bootstrap/jquery.qrcode.min.js"></script>
	
	<!--去掉悬浮窗 -->
	<style type="text/css">#cl-dashboard{display: none}</style>
	
	<link title="" href="../formwork/css/style.css" rel="stylesheet" type="text/css"/>
	<link title="blue" href="../formwork/css/dermadefault.css" rel="stylesheet" type="text/css"/>
	<link title="green" href="../formwork/css/dermagreen.css" rel="stylesheet" type="text/css" disabled="disabled"/>
	<link title="orange" href="../formwork/css/dermaorange.css" rel="stylesheet" type="text/css" disabled="disabled"/>
	<link href="../formwork/css/templatecss.css" rel="stylesheet" title="" type="text/css" />
	<!-- 时间 -->
	<script type="text/javascript" src="../js/bsdatetime.js"></script>
</head>
<body >
	<div class="container-fluid">
		<h1 class="text-center text-info page-header">统计展示todo</h1>
	<!--<img src="images/img/splash_bg.jpg" width="100%" height="">-->
		<div class="table-responsive" style="margin-top: 30px;">
				<table class="table table-striped table-bordered table-hover text-center" id="text_tr_td">
					
					<tr class="info">
						<th class="text-center">平台名字</th>
						<th class="text-center">详情</th>
						<th class="text-center">备注</th>
						<th class="text-center">账号</th>
						
					</tr>
					<tr>
						<td>umeng统计</td>
						
						
						<td style="margin: 0;padding: 0">
							<a href="http://umeng.com" class="btn btn-link" target="_blank">查看</a>
						</td>
						<td>数据统计平台</td>
						<td>xxxxxx</td>
					</tr>
					
				</table>
			</div>
	</div>
	
</body>
</html>